name: GoTrash

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v6

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: '1.26.0'

    - name: Create directories for caching
      run: |
        mkdir -p $HOME/go/pkg/mod
        mkdir -p $HOME/.cache/go-build

    - name: Cache Go modules and build cache
      uses: actions/cache@v5
      with:
        path: |
          ~/go/pkg/mod
          ~/.cache/go-build
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v -coverprofile=coverage.out ./...

    - name: Security Scan
      run: |
        docker run --rm -v ${{ github.workspace }}:/repo aquasec/trivy repo /repo
    
    - name: Cache Go modules
      uses: actions/cache@v5
      with:
        path: |
          ~/go/pkg/mod
          ~/.cache/go-build
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - name: Upload Coverage Report
      uses: actions/upload-artifact@v6
      with:
        name: coverage-report
        path: coverage.out

